<?php
$env = [
    "DB_HOST" => "127.0.0.1",
    "DB_USER" => "user",
    "DB_PASS" => "password",
    "DB_DATABASE" => "database_name",
    "DB_PORT" => "3306",
    "STORAGE_PATH" => "storage",
    "BASE_PATH" => __DIR__
];

?>